
.infoMain {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.secondaryInfo {
    margin-top: 10px;
    line-height: 8px;
}

h3 {
    font-size: 22px;
}

.scienceName {
    font-style: italic;
    font-size: 13px;
}

.family {
    font-size: 13px;
}

.family:hover {
    text-decoration: underline;
    color:rgb(0, 85, 255);
    cursor: pointer;
}